.FRONTEND_FORM {
    display: block;
    box-sizing: border-box;
}

.FRONTEND_FORM * {
    box-sizing: border-box;
}

.FRONTEND_FORM .title {
    font-size: 2rem;
    line-height: 1.3em;
    text-align: center;
    display: block;
    margin: 20px auto;
}

.FRONTEND_FORM .description {
    line-height: 1.3em;
    text-align: center;
    margin: 20px auto;
}

.FRONTEND_FORM .description_after {
    line-height: 1.3em;
    text-align: center;
    margin: 20px auto;
}

.FRONTEND_FORM .error {
    color: #f00;
    font-weight: bold;
}

.FRONTEND_FORM .field {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 20px auto;
}

.FRONTEND_FORM .field input[type="text"],
.FRONTEND_FORM .field input[type="date"],
.FRONTEND_FORM .field input[type="tel"],
.FRONTEND_FORM .field input[type="email"],
.FRONTEND_FORM .field input[type="password"],
.FRONTEND_FORM .field textarea,
.FRONTEND_FORM .field select {
    display: inline-block;
    width: 80%;
    padding: 12px 20px;
    border: 1px solid #ccc;
}

.FRONTEND_FORM .field textarea {
    width: 100%;
}

.FRONTEND_FORM .field input::placeholder {
    color: transparent;
}

.FRONTEND_FORM .field label {
    display: inline-block;
    width: 20%;
}

.FRONTEND_FORM .field input[type="checkbox"],
.FRONTEND_FORM .field input[type="radio"] {
    margin-right: 10px;
}